body{
    height: 100vh;
    display: flex;
    justify-content: center;            /*centering the elements*/
    align-items: center;
}

#container{         /*container that stores all grid cells*/
    border: 1px solid black;
    width: 650px;
    height: 650px;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(16, 1fr);            /*NEW, repeats '1fr' 16 times. 'fr' = unit*/
    grid-template-columns: repeat(16, 1fr);

}
.containerChild{           /* each individual grid cell */
    box-sizing: border-box;
    border: 1px solid black;
}